[workspace]
authors = ["YoshitoMori <y423610m@icloud.com>"]
channels = ["conda-forge"]
name = "kyopro_library"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
g = {cmd="""
cd $INIT_CWD && 
g++ -std=c++23 $1 -O2 -o a.out -I $CONDA_PREFIX/include -I $PIXI_PROJECT_ROOT/ac-library -I $PIXI_PROJECT_ROOT -L $CONDA_PREFIX/lib
"""}

gon = {cmd="""
cd $INIT_CWD && 
g++ -std=c++23 $1 -O2 -o a.out -I $CONDA_PREFIX/include -I $PIXI_PROJECT_ROOT/ac-library -I $PIXI_PROJECT_ROOT -L $CONDA_PREFIX/lib -O2 -g -DONLINE_JUDGE
"""}

gof = {cmd="""
cd $INIT_CWD && 
g++ -std=c++23 $1 -O2 -o a.out -I $CONDA_PREFIX/include -I $PIXI_PROJECT_ROOT/ac-library -I $PIXI_PROJECT_ROOT -L $CONDA_PREFIX/lib -O2 -g
"""}

gp = {cmd="""
cd $INIT_CWD && 
g++ -std=c++23 $1 -O2 -o a.out -I $CONDA_PREFIX/include -I $PIXI_PROJECT_ROOT/ac-library -I $PIXI_PROJECT_ROOT -L $CONDA_PREFIX/lib -g -fsanitize=undefined,address -D_GLIBCXX_DEBUG
"""}

g_full = {cmd="""
cd $INIT_CWD && 
g++ -std=c++23 $1 -O2 -o a.out -I $CONDA_PREFIX/include -I $PIXI_PROJECT_ROOT/ac-library -I $PIXI_PROJECT_ROOT -L $CONDA_PREFIX/lib -ltorch -ltorch_cpu -ltorch_cuda -lc10
"""}

folder = { cmd="""
cd $INIT_CWD && 
mkdir -p a &&
mkdir -p b &&
mkdir -p c &&
mkdir -p d &&
mkdir -p e &&
mkdir -p f &&
mkdir -p g &&
mkdir -p h 
"""}

bundle = { cmd="""
cd $INIT_CWD && 
oj-bundle $1 -I $CONDA_PREFIX/include -I $PIXI_PROJECT_ROOT/ac-library -I $PIXI_PROJECT_ROOT
"""}

ac = { cmd="""
cd $INIT_CWD &&
cp $PIXI_PROJECT_ROOT/core/ac.cpp $1
"""}

ahc = {cmd="""
cd $INIT_CWD && 
cp -r $PIXI_PROJECT_ROOT/core/ahc $1
"""}

help = {cmd="""

echo Examples: && 
echo pixi run g main.cpp &&
echo pixi run gp main.cpp &&
echo pixi run folder && 
echo pixi run ac a.cpp && 
echo pixi run ahc ahc0xx
"""}

[dependencies]
boost = "==1.85"
eigen = "==3.4.0"
gmp = "==6.3.0"
libtorch = "==2.8.0"
unordered_dense = "==4.5.0"
range-v3 = "==0.12.0"
gxx = "==15.2.0"
python = "==3.12.0"

[pypi-dependencies]
online-judge-verify-helper = ">=5.6.0, <6"
